<!DOCTYPE html>
<html lang="en">
{% extends 'file.html' %}
{% load static %}
{% block content %}
<!-- About Section Starts -->
<section class="about-section-class"
  style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/about%20hero.png');">
  <div class="hero-image1">
    <div class="carousel-container">
      <div class="container">
        <h2 class="animate__animated animate__fadeInDown">About Us</h2>
        <p class="animate__animated animate__fadeInUp">Bringing innovative products
          and applications and redefining standards of customer services since 1984. </p>
      </div>
    </div>
  </div>
</section>

<section class="aboutSectionClass">
  <div class="rounded container" data-aos="fade-up">
    <div class="rounded about-main-container shadow-lg  p-3">
      <div class="about-container">
        <div class="row align-class">
          <div class="col-lg-7 col-md-6 col-sm-12  justify-class">
            <div class="section-header-about">
              <h2>About Us</h2>
            </div>
            <br>
            Divya chemicals is consistently at the forefront of bringing innovative products and applications and
            redefining standards of customer services since 1984.<br><br>
            Our portfolio includes over 500 cost effective and top quality products like anti corrosive coating,
            industrial resin flooring, adhesive & sealant, construction chemicals, passive fire protection system &
            maintenance & repair products those are marketed pan India
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
            <video autoplay muted loop class="img-fluid">
              <source src="{% static 'assets/img/images/videos/divyachemicalsabout3.mp4' %}" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="missionVissionSection bg-ligt pt-5 pb-5 bigAboutClass">
  <div class="missioVissionClass  container" data-aos="fade-up">
    <div class="row align-items-center  widthClass">
      <div class="col-lg-6  col-md-12 col-sm-12  imgclassrow">
        <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/vission%20(1).png"
          class="img-fluid  gradientClass" style="" alt="">
      </div>
      <div class="col-lg-6  col-md-12 col-sm-12  bulletStyele">
        <div class="p-3">
          <div class="section-header-about">
            <h2>Our Vision</h2>
          </div>
          <ul class="">
            <li>Delivering products & solutions to the customers which are reliable & sustainable and there by to attain
              leadership position.</li>
            <li>Denouncing pleasure and praising pain was born and I will give you a account of the system of the great
              explorer.</li>
          </ul>
        </div>
       

      </div>
     
      <div class="col-lg-6 col-md-12 col-sm-12 bulletStyele">
        <div class="p-3">
          <div class="section-header-about">
            <h2>Our Mission</h2>
          </div>
          <ul>
            <li>We will use best and time tested technology & provide excellent services to our customers.</li>
            <li>"Less on Maintenance & More on Production" approach for customer</li>
            <li>Our Solutions & services together will bring long term economic benifit to our customers.</li>
            <li>Win- Win- Win situation for all stake holders including our employees.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12  d-flex imgclassrow ">
        <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/mission.png" class="img-fluid" alt="">
      </div>
      

    </div>
  </div>
  
</section>
<section class="missionVissionSection bg-ligt pt-5 pb-5 smallAboutClass">
  <div class="missioVissionClass  container" data-aos="fade-up">
    <div class="row align-items-center  widthClass">
      <div class="col-lg-6  col-md-12 col-sm-12  imgclassrow">
        <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/vission%20(1).png"
          class="img-fluid  gradientClass"  alt="">
      </div>
      <div class="col-lg-6  col-md-12 col-sm-12  bulletStyele">
        <div class="p-3">
          <div class="section-header-about">
            <h2>Our Vision</h2>
          </div>
          <ul class="">
            <li>Delivering products & solutions to the customers which are reliable & sustainable and there by to attain
              leadership position.</li>
            <li>Denouncing pleasure and praising pain was born and I will give you a account of the system of the great
              explorer.</li>
          </ul>
        </div>
       

      </div>
      <div class="col-lg-6 col-md-12 col-sm-12  d-flex imgclassrow ">
        <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/mission.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 bulletStyele">
        <div class="p-3">
          <div class="section-header-about">
            <h2>Our Mission</h2>
          </div>
          <ul>
            <li>We will use best and time tested technology & provide excellent services to our customers.</li>
            <li>"Less on Maintenance & More on Production" approach for customer</li>
            <li>Our Solutions & services together will bring long term economic benifit to our customers.</li>
            <li>Win- Win- Win situation for all stake holders including our employees.</li>
          </ul>
        </div>
      </div>
      

    </div>
  </div>
  
</section>
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <i><video autoplay muted loop class="img-fluid">
          <source src="{% static 'assets/img/images/videos/goal.mp4' %}" class="img-fluid" style="height: 16px;width: 16px;">
        </video></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        
      </div>
    </div>
  </div>
</section> -->
<!-- End About Section -->
<section id="clients" class="clients bg-light">
  <div class="container" data-aos="zoom-out">
    <div class="section-header">
      <h2>Proud Clients</h2>
      <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas
        asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
    </div>
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/10.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/5.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/9.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/7.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/34.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/58.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/21.png" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="http://www.chemesys.in/assets/16.png" class="img-fluid" alt=""></div>
      </div>
    </div>

  </div>
</section><!-- End Clients Section -->



{% endblock %}