<!DOCTYPE html>
<html lang="en">
{% extends 'file.html' %}
{% load static %}
{% block content %}
<section class="about-section-class"
  style="background: linear-gradient(rgba(88, 66, 66, 0.6), rgba(0, 0, 0, 0.6)), url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/blogs.png');background-position: bottom;">
  <div class="hero-image1">
    <div class="carousel-container">
      <div class="container">
        <h2 class="animate__animated animate__fadeInDown">Blogs</h2>
        <p class="animate__animated animate__fadeInUp">Epoxy (EP) and Polyurethane (PU) flooring are two of the most
          common industrial floorings used in Singapore and around the world.</p>
      </div>
    </div>
  </div>
</section>
<main id="main " class="mt-5">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs mt-1">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Blog</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-8">

          <div class="row gy-4 posts-list">
            {% for i in blogs %}
            <div class="col-lg-6 col-md-6 col-sm-12">
              <article class="d-flex flex-column">

                <div class="post-img">
                  <!-- <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/electriIndustries.png" alt=""
                    class="img-fluid"> -->
                    <img src="{{i.blogImage.url}}" alt=""
                    class="img-fluid">
                </div>

                <h2 class="title">
                  <a href="{/blogs/{{i.blogTitle}}">{{i.blogTitle}}</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>{{i.blogAuthor}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time
                          datetime="{{i.blogDate}}">{{i.blogDate}}</time></a></li>
                    
                  </ul>
                </div>

                <div class="content">
                  <p>
                    {{i.blogContent|slice:":255"}}...
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="/blogs/{{i.blogTitle}}">Read More</a>
                </div>

              </article>
            </div><!-- End post list item -->
            {% endfor %}

         
             

          </div><!-- End blog posts list -->

          <!-- <div class="blog-pagination">
            <ul class="justify-content-center">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div>End blog pagination -->

        </div>

        <div class="col-lg-4">

          <div class="sidebar">

            <div class="sidebar-item search-form">
              <h3 class="sidebar-title">Search</h3>
              <form action="{% url 'blogs' %}" class="mt-3">
                <input type="text" class="form-control" placeholder="blog-name" name="search_query" value="{{search_query}}"> 

                <button type="submit"><i class="bi bi-search"></i></button>
              </form>
            </div><!-- End sidebar search formn-->



           



          </div><!-- End Blog Sidebar -->

        </div>

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}