<html lang="en">
{% extends 'file.html' %}
{% load static %}
{% block content %}
<section class="about-section-class"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/Untitled%20design%20(4).png');">
    <div class="hero-image1">
        <div class="carousel-container">
            <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Clientele</h2>
                <p class="animate__animated animate__fadeInUp">Epoxy (EP) and Polyurethane (PU) flooring are two of the
                    most
                    common industrial floorings used in Singapore and around the world.</p>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-section-new">
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Chemicals</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/pidilite.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/aditya-birls.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/deepakphenolix.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/huntsman.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/indofil.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/srf.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/aartiindustries.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gulbrandsen.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/hikal.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/toyoink.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/dcm.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/tufropes.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/galaxy.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/jayantagroorganics.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/shubhlaxmi.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/finolexpipes.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/welspun.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/pi.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/basf.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/sajjanindialimited.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/sajjanindialimited.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gacl.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gardelvareli.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/uflex.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/rockwool.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/covestro.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/trepsecsilox.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          

        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Food & Pharmaceuticals</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/alembic.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/sunpharma.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/zydus.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/glenmark.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/chemco.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/novartis.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/global.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/lupin.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/parle.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/torrent.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/emcure.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/parimal.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/organosys.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          

        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Power & Wind</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gamesa.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/vestas.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/polycab.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/windar.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gipcl.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/uprnil.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/ge.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/inoxva.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/cgpl.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/hitachi.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Agrochemicals</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/tagros.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/ralliesindialimited.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/coromandal.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
           
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Metal</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/hindustanzinc.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/jsw.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/asta.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/adityabirla.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
           
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Fertilizer</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gsfc.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gnfc.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          
           
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Glass & Ceramic</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/saintgobain.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/calderys.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/philips.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/borosil.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/schoot.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/kohler.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/sisecam.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/toto.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          
           
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Engineering & Automobile</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/jindal.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/xylem.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/jyotiltd.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/l&t.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/tega.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/shankarpackeging.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/tatamotors.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          
           
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Oil And Gas</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/indianOil.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/nrl.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/gail.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          
           
        </div>
    </div>
    <div class="container clientContainer mb-5 rounded clienteleTransparent">
        <div class="section-header-about pt-3">
            <h3>Tyre</h3>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/ceat.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/apollo.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/companiesportfolio/atg.png' %}" class="img-fluid" alt="Divya Chemicals Clientele">
            </div>
          
           
        </div>
    </div>
  
  
    

</section>
{% endblock %}