<!DOCTYPE html>
<html lang="en">
{% extends 'file.html' %}
{% load static %}
{% block content %}
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active"
        style="background-image: url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/2.png')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">EPOXY/PU FLOORING</h2>
            <p class="animate__animated animate__fadeInUp">Epoxy (EP) and Polyurethane (PU) flooring are two of the most
              common industrial floorings used in Singapore and around the world.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Know More <i
                class="fa fa-arrow-right animate__animated animate__fadeInUp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item"
        style="background-image: url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/Untitled%20design%20(1).png')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">CONCRETE PROTECTION</h2>
            <p class="animate__animated animate__fadeInUp">Concrete protection also means protecting the embedded steel
              bars from corrosion. </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Know More <i
                class="fa fa-arrow-right animate__animated animate__fadeInUp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item"
        style="background-image: url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/corrosionprotection.png')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">CORROSION PROTECTION</h2>
            <p class="animate__animated animate__fadeInUp">Corrosion protection is the application of anti-corrosion
              chemicals to prevent damages to equipment or facility caused by corrosive agents </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Know More <i
                class="fa fa-arrow-right animate__animated animate__fadeInUp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="carousel-item"
        style="background-image: url('https://raw.githubusercontent.com/kruksd/divyachemicals/main/PASSIVEFIREPROTECTION.png')">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">PASSIVE FIRE PROTECTION</h2>
            <p class="animate__animated animate__fadeInUp">Passive fire protection (PFP) is components or systems of a
              building or structure that slows or impedes the spread the effects of fire or smoke without system
              activation, and usually without movement.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Know More <i
                class="fa fa-arrow-right animate__animated animate__fadeInUp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>


  </div>
</section><!-- End Hero -->
<main id="main">
  <section id="team" class="bg-light">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Featured Segments</h2>
        <p>Divya Chemicals provides wide range of products and solutions for corrosion protection,concrete
          protection,epoxy/pu flooring,passive fire protection and maintainence/repaire of products to a number of
          industries </p>
      </div>

      <div class="row">
        
        <div class="col-lg-3 col-md-6">
          <a href="/products/electrical">
          <div class="member shadow-lg" data-aos="fade-up" data-aos-delay="100">
            <h3 class="specialHeading">Electrical</h3>
            <div class="post-img">
              <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/electircalIndustry%20(1).png"
                class="img-fluid" alt="">
            </div>
          </div>
        </a>
        </div>
      

        <div class="col-lg-3 col-md-6">
          <a href="/products/mechanical">
          <div class="member shadow-lg" data-aos="fade-up" data-aos-delay="100">
            <h3 class="specialHeading">Mechenical</h3>
            <div class="post-img"> <img
                src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/civilIndustry.png" class="img-fluid"
                alt=""></div>


          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href="/products/civil">
          <div class="member shadow-lg" data-aos="fade-up" data-aos-delay="100">
            <h3 class="specialHeading">Civil</h3>
            <div class="post-img"> <img
                src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/mechanicalIndustry.png"
                class="img-fluid" alt=""></div>

          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a href="https://www.jotun.com/in-en/">
          <div class="member shadow-lg" data-aos="fade-up" data-aos-delay="100">
            <h3 class="specialHeading">Jotun</h3>
            <div class="post-img">
              <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/otherIndustry.png"
                class="img-fluid" alt="">
            </div>

          </div>
          </a>
        </div>

      </div>
    </div>
  </section><!-- End Team Section -->
  <section id="ourStrength" class="ourStrength">
    <canvas class="background" data-aos="fade-up" data-aos-delay="100"></canvas>
    <div class="container ourStrengthClass shadow-lg">

      <div class="row pt-3 ourStrengthMainClass" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-7 col-md-6 col-sm-12 ">
          <h2 class="ourStrengthHeadingClass">Our Strength</h2>
          <p class="ourStrengthParagraph">The term "quality products" is the foundation of our business. By offering such a wide selection of requirements, our organisation stands apart. We offer on-site assistance from a dedicated and qualified crew. The company's organisational structure is set up so that customers come first in all it does. For the sake of the business's smooth operation, innovations and improvisations occasionally take place. Our staff has sufficient application expertise and knowledge. Additionally, for a better and more efficient working environment, a whole specialised team has been allocated to the clients.
          </p>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 " data-aos="fade-up" data-aos-delay="100">
          <img src="https://raw.githubusercontent.com/kruksd/divyachemicals/main/our%20strength.png" class="img-fluid"
            alt="">
        </div>
      </div>
    </div>
  </section>




  <!-- ======= Call To Action Section ======= -->
  <!-- <section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">

      <div class="row g-5">

        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3>Alias sunt quas <em>Cupiditate</em> oluptas hic minima</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
          <a class="cta-btn align-self-start" href="#">Call To Action</a>
        </div>

        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="assets/img/cta.jpg" alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
  </section>End Call To Action Section -->

  <!-- ======= On Focus Section ======= -->
  <section id="onfocus" class="onfocus">
    <div class="container-fluid p-0" data-aos="fade-up">

      <div class="row g-0">
        <div class="col-lg-6 video-play position-relative">
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
        </div>
        <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center h-100">
            <h3> RELIABLE & SUSTAINABLE SOLUTIONS</h3>
            <p class="fst-italic">
              Divya chemicals is consistently at the forefront of bringing innovative products and applications and
              redefining standards of customer services since 1984.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> 500 cost effective and top quality products.</li>
              <li><i class="bi bi-check-circle"></i> 35+ Years of experience.</li>
              <li><i class="bi bi-check-circle"></i> Highly trained and Experienced field team available to assess and
                analyze each customers particular requirements.</li>
            </ul>
            <a href="{% url 'about' %}" class="read-more align-self-start"><span>Read More</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End On Focus Section -->

  <!-- ======= Features Section ======= -->


  <!-- ======= Services Section ======= -->
  <!-- <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>
        <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores
          adipisci aliquam.</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Nesciunt Mete</h3>
              </a>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure
                perferendis.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Eosle Commodi</h3>
              </a>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                nesciunt dolorem.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Ledo Markt</h3>
              </a>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                eos earum corrupti.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Asperiores Commodit</h3>
              </a>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident
                adipisci neque.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-5.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Velit Doloremque</h3>
              </a>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem
                alias eius labore.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
          <div class="service-item">
            <div class="img">
              <img src="assets/img/services-6.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Dolori Architecto</h3>
              </a>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti
                recusandae ducimus enim.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> -->

  <!-- ======= Testimonials Section ======= -->
  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq bg-light pt-5 pb-5">
    <div class="container" data-aos="fade-up">
      <div class="row whyUsDiv">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <div class="">
            <h3>Why <strong>Divya Chemicals?</strong></h3>
            <p>
              We follow the 5 P Model that allows us to provide best possible solution in the most efficient manner
              leading to satisfaction of clients
            <ul>
              <li><strong>People</strong>:Experienced, Expert Trained Team With
                Customer Centric Attitude</li>
              <li><strong>Philosophy</strong>:Reliable & Sustainable Solutions</li>
              <li><strong>Process</strong>:To Understand Need And Challenging Area Of Customer,
                Selection Of Product That Is Best Suited And Which Has Proven
                Track Record, To Be Applied As Per Std Sop</li>
              <li><strong>Product</strong>:Developed And Manufactured Of
                Best Qualities.</li>
              <li><strong>Performence</strong>:Its Natural Outcome Of Above Traits And
                Should Surpass Customer Satisfaction</li>
            </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 align-items-stretch order-1 order-lg-2 img">
          <img src="{% static 'assets/img/images/5POfDivyaChemicals.png' %}" class="img-fluid shadow-lg" alt="">
        </div>
      </div>






    </div>
  </section><!-- End F.A.Q Section -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="testimonials-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Ceat Tyres Logo .png' %}" class="testimonial-img" alt="">
              <h3>Ceat Limited</h3>
              <h4>Halol</h4>
              <!-- <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div> -->
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                This is to certify that M/S Divya Chemicals, Baroda has done Job of Cementatious Polyurethane (CPU) Flooring. Vide Order No: CT/MVPL/ SEPT/ 143-20 18 DATE:O4. 10.2018 Given By Multivision Pvt Ltd, Ahmedabad for Client Company Ceat Limited, Halol it's been Above 1 Year and till Performance of this Product/ services are excellent.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Ceat Tyres Logo .png' %}" class="testimonial-img" alt="">
              <h3>Ceat Limited</h3>
              <h4>Halol</h4>
              <!-- <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div> -->
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                This is to certifr that M/S Divya Chemicals, Vadodara has done Job of Dl- Electric flooring worL, vide order No-670ooooza6, DATE: 6-11-zo1g. It,s been Above one and half Year. Their performancb was excellent in terms of euality of product, Serwice and timely Adherence to the Schedule.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Hitachi Logo.png' %}" class="testimonial-img" alt="">
              <h3>Hitachi</h3>
              <h4>Gandhinagar </h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                This is to certify that M/S Dirya Chemicals, Baroda has done Job-Electrostatic Discharge (ESD) Flooring. Vide
                Order No- POCE/GU2UP 17 LB I0OO 1 date: L9.O4.2O17 and Order No-SVRO/GRNDIT 18/00027 date:03.08.2o17 it's been Above 1 Year and till Performance of this Product/ serviies are excellent.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Hitachi Logo.png' %}" class="testimonial-img" alt="">
              <h3>Hitachi</h3>
              <h4>Sanand </h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                This is to certify that M/S Divya Chemicals, Baroda has done Job-Electrostatic Discharge (ESD) Flooring. Vide Order No- POCE/ SSLR 17 LB / 00009 DATE: 0 1 . 1 L .2O 17 it's been Above 1 Year and till Performance of this Product/ services are excellent.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Hitachi Logo.png' %}" class="testimonial-img" alt="">
              <h3>Hitachi</h3>
              <h4>Sanand </h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                This is to certify that M/S Drvya Chemicals, Baroda has done Job of Anti-Static (ESDI Flooring. Vide Order No- POCE/SDRVL92O/00001 DATE:09.05.2019 it's been Above 1 Year and till Performance of this Product/ services are excellent.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Hitachi Logo.png' %}" class="testimonial-img" alt="">
              <h3>Hitachi</h3>
              <h4>Ahemdabad </h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                This is to certify that M/S Divya Chemicals, Baroda has done Job- Electrostatic Discharge (ESDI Flooring. Vide Order No- SVRO/GU2UPL6L7 /00776 date: 23.12.2016 it's been Above 1 Year and tilI Performance of this Product/services are excellent, And after looking this Quality Job we gave 3 More ESD Flooring orders.
               
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Philips Logo.png' %}" class="testimonial-img" alt="">
              <h3>Philips</h3>
              <h4>Vadodara </h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                
                This is to certify that M/S Divya Chemicals, Baroda has executed Job- Epoxy flooring system. Vide Purchase Order No-95OO7252O2 date: 24.LO.2O16, their Performances & Services are up to Mark & Satisfactory.
               
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Torrecid Logo.png' %}" class="testimonial-img" alt="">
              <h3>Torrecid India PVT Limited</h3>
              <!-- <h4>Ahemdabad </h4> -->
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                
                This is to certiSr that M/S Drvya Chemicals, Baroda has executed Job- Eporry flooring system. Vide Purchase Order No-TCID1609 date: 14.09.2017, their Performances & Serwices are up to Mark & Satisfactory.
               
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{%  static 'assets/img/clients/Vangi Logo.png' %}" class="testimonial-img" alt="">
              <h3>Vangi Foods</h3>
              <h4>Karamsad </h4>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                
                This is to certify that M/S Divya Chemical has completed Pu Duracret and Epoxy Flooring work with Cipy Polyurethane Pvt Ltd at Vangi Foods, Karamsad, Anand, Gujarat
                Their performance was excellent in terms of Quality of product, Service and timely Adherence to the Schedule.
               
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

    

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->


  <section class="socialMediaClass">
    <div class="container ">
      <div class="section-header">
        <h2>@Divya Chemicals</h2>
        <p>Connect to our social media and get updates about us! </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Divya Chems</p>&mdash; Samir Shirolawala (@SShirolawala) <a
              href="https://twitter.com/SShirolawala/status/1547640000397062144?ref_src=twsrc%5Etfw">July 14, 2022</a>
          </blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 " data-aos="fade-up" data-aos-delay="100">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Divya Chemssss </p>&mdash; Samir Shirolawala (@SShirolawala) <a
              href="https://twitter.com/SShirolawala/status/1547640000397062144?ref_src=twsrc%5Etfw">July 14, 2022</a>
          </blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 " data-aos="fade-up" data-aos-delay="100">
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Divya Chems</p>&mdash; Samir Shirolawala (@SShirolawala) <a
              href="https://twitter.com/SShirolawala/status/1547640000397062144?ref_src=twsrc%5Etfw">July 14, 2022</a>
          </blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

  </section>




  <!-- ======= Team Section ======= -->

  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts bg-light">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Blogs</h2>
        <p>Recent posts form our Blog</p>
      </div>

      <div class="row indexBlogs"> 
        {% for i in blogs %}
        <div class="col-lg-4 col-md-4 col-sm-12 mt-3 d-flex" data-aos="fade-up" data-aos-delay="600">
          <div class="post-box shadow-lg ">
            <div class="post-img"><img
                src="{{i.blogImage}}"
                class="img-fluid" alt=""></div>
            <div class="m-3">
              <div class="meta">
                <span class="post-date">{{i.blogDate}}</span>
                <span class="post-author"> {{i.blogAuthor}}</span>
              </div>
              <h3 class="post-title">{{i.blogTitle}}</h3>
              <p>{{i.blogContent|slice:":100"}}</p>
              <a href="/blogs/{{i.blogTitle}}" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>
            </div>

          </div>
        </div>
        {% endfor %}
       

      </div>

    </div>

  </section><!-- End Recent Blog Posts Section -->



</main><!-- End #main -->

<script>
  window.onload = function () {
    Particles.init
      ({
        selector:
          '.background',
        connectParticles: true,
        color: '#2d4373',
        speed: 0.5,
      });
  };
</script>
<script>
  Particles.
    init
    ({

      // normal options
      selector:
        '.background'
      ,
      maxParticles:
        250
      ,

      // options for breakpoints
      responsive: [
        {
          breakpoint:
            768
          ,
          options: {
            maxParticles:
              200
            ,
            color:
              '#48F2E3'
            ,
            connectParticles:
              false
          }
        }, {
          breakpoint:
            425
          ,
          options: {
            maxParticles:
              100
            ,
            connectParticles:
              true
          }
        }, {
          breakpoint:
            320
          ,
          options: {
            maxParticles:
              0

            // disables particles.js
          }
        }
      ]
    });
</script>


{% endblock %}

</html>